$contrast_one: #402b3c;
$selection_height: 2.5em;
$standard_font_size: 1.5em;
body{
    margin: 0;
    color: black;
    font-family: helvetica;
    font-size: 1.5em;
    .selectionBar{
        top: 0;
        display: flex;
        height: $selection_height;
        position: absolute;
        width: 100%;
        opacity: 0.5;
        div{
            flex-grow: 1;
            text-align: center;
            background-color: $contrast_one;
            border-right: 0.3em $contrast_one * 1.3 solid;
            transition: all 0.3s ease;
            a{
                color: white;
                display: flex;
                flex-flow: column;
                justify-content: center;
                text-decoration: none;
                height: $selection_height - 1.15em;
                font-size: $standard_font_size;
            }
        }
        div:last-child{
            border: none;
        }
        div:hover{
            background-color: $contrast_one * 1.3;
        }
        div:hover a{
            color: $contrast_one;
        }
    }
    .botn{
        .footer-mainInfo{
            width: 60%;
            display: flex;
            flex-flow: row;
            justify-content: space-around;
        }
    }
}