$contrast_one: #402b3c;
$selection_height: 2.5em;
$selection_menu_height: 3em;
$standard_font_size: 1.5em;
body{
    margin: 0;
    color: black;
    font-family: helvetica;
    font-size: 1.5em;
    position: relative;
    #toggle{
        display: none;
    }
    #menu{
        display: none;
        position: fixed;
        bottom: 0;
        background-color: $contrast_one;
        width: 100%;
        text-align: center;
        z-index: 5;
        height: $selection_menu_height;
        border-top: 0.3em $contrast_one * 1.3 solid;
    }
    #menu:hover{
        cursor: pointer;
    }
    .selectionBar{
        top: 0;
        display: flex;
        height: $selection_height;
        width: 100%;
        opacity: 0.5;
        div{
            flex-grow: 1;
            text-align: center;
            background-color: $contrast_one;
            border-right: 0.3em $contrast_one * 1.3 solid;
            transition: all 0.3s ease;
            a{
                color: white;
                display: flex;
                flex-flow: column;
                justify-content: center;
                text-decoration: none;
                height: $selection_height - 1.15em;
                font-size: $standard_font_size;
            }
        }
        div:last-child{
            border: none;
        }
        div:hover{
            background-color: $contrast_one * 1.3;
        }
        div:hover a{
            color: $contrast_one;
        }
    }
    .botn{
        .footer-mainInfo{
            width: 60%;
            display: flex;
            flex-flow: row;
            justify-content: space-around;
        }
    }
}

@media screen and (max-width: 70em){
    #menu{
        display: inline !important;
    }
    .selectionBar{
        transition: all 0.3s ease;
        position: fixed;
        z-index: 4;
        flex-flow: column;
        top: auto !important;
        opacity: 1 !important;
        //bottom: ($selection_height * 5) - 0.4em !important;
        bottom: -20em;
        div{
            border-bottom: none !important;
            border-top: 0.3em $contrast_one * 1.3 solid !important;
            border-right: 0.3em $contrast_one * 1.3 solid !important;
            border-left: 0.3em $contrast_one * 1.3 solid !important;
        }
    }
    .botn{
        margin-bottom: $selection_menu_height;
    }
    #toggle:checked + .selectionBar{
        bottom: ($selection_height * 5) - 0.3em!important;
    }
}