table {
    margin-top: 100px;
    margin-left:calc((100% - 30%)/2)
    font-family: arial, sans-serif;
    border-collapse: collapse;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
text-align: center;}

.selected {
    background-color: red;
    color: white;
}


.rammi-allt {
    margin-left: calc((100% - 92.8%)/2);
width: 92.8%;}

.top-title {
  position: absolute;
  top: 200px;
  left: 0;
  width: 100%;
  color: white;
  font-size: 100px;
  text-align: center; }


.div-top-image {
  width: 100%;
  height: 500px;
  overflow: hidden; }

.top-image {
  width: 100%;
  z-index: 9999;
  margin-top: -15%; }

td {
    color: black;
    background-color:#fafafa;
    height: 150px;
    table-layout: fixed;
width: 150px;
}

body{
}





div {
    width: 150px;
}


.tafla {

}