table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 30%;
  margin-left: 3%; }

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px; }

.rammi-allt {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

td {
  color: white;
  margin-bottom: 30px; }

body {
  background-color: #f1f1f1; }

.sun {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  width: 33.333%; }

.sun * {
  margin-bottom: 1em;
  width: 100%; }
