body {
  margin: 0;
  color: black;
  font-family: helvetica;
  font-size: 1.5em;
  position: relative; }
  body #toggle {
    display: none; }
  body #menu {
    display: none;
    position: fixed;
    bottom: 0;
    background-color: #402b3c;
    width: 100%;
    text-align: center;
    z-index: 5;
    height: 3em;
    border-top: 0.3em #53384e solid; }
  body #menu:hover {
    cursor: pointer; }
  body .selectionBar {
    top: 0;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 2.5em;
    width: 100%;
    opacity: 0.5; }
    body .selectionBar div {
      -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      text-align: center;
      background-color: #402b3c;
      border-right: 0.3em #53384e solid;
      transition: all 0.3s ease; }
      body .selectionBar div a {
        color: white;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-flow: column;
        -ms-flex-flow: column;
        flex-flow: column;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        text-decoration: none;
        height: 1.35em;
        font-size: 1.5em; }
    body .selectionBar div:last-child {
      border: none; }
    body .selectionBar div:hover {
      background-color: #53384e; }
    body .selectionBar div:hover a {
      color: #402b3c; }
  body .botn {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row;
    -ms-flex-flow: row;
    flex-flow: row;
    background-color: #402b3c;
    border-top: 0.3em #53384e solid; }
    body .botn .footer-mainInfo {
      font-size: 1.5vw;
      width: 70%;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-flow: row;
      -ms-flex-flow: row;
      flex-flow: row;
      -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
      justify-content: space-around; }
    body .botn .sponsors {
      width: 30%;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-flow: row;
      -ms-flex-flow: row;
      flex-flow: row;
      -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
      justify-content: space-around; }
      body .botn .sponsors img {
        -webkit-flex-basis: 1;
        -ms-flex-preferred-size: 1;
        flex-basis: 1;
        width: 15%;
        height: 100%; }

@media screen and (max-width: 70em) {
  #menu {
    display: inline !important; }
  .selectionBar {
    transition: all 0.3s ease;
    position: fixed;
    z-index: 4;
    -webkit-flex-flow: column;
    -ms-flex-flow: column;
    flex-flow: column;
    top: auto !important;
    opacity: 1 !important;
    bottom: -20em; }
    .selectionBar div {
      border-bottom: none !important;
      border-top: 0.3em #53384e solid !important;
      border-right: 0.3em #53384e solid !important;
      border-left: 0.3em #53384e solid !important; }
  .botn {
    margin-bottom: 3em; }
  #toggle:checked + .selectionBar {
    bottom: 12.2em !important; } }

::-moz-selection {
  background: #ffb7b7; }

::selection {
  background: #ffb7b7; }

table {
  width: 100%;
  font-family: arial, sans-serif;
  border: 0.2em #53384e solid;
  border-collapse: collapse;
  background-color: #402b3c; }

.table2 {
  margin-top: 5vw; }

td, th {
  border: 0.2em #53384e solid;
  padding: 8px;
  text-align: center;
  background-color: #402b3c;
  font-size: 2vw; }

.selected {
  background-color: rgba(221, 38, 28, 0.79);
  color: white; }

.rammi-allt {
  width: 100%; }

.logo-cal {
  width: 9vw; }

.div-top-image {
  width: 100%;
  height: 35vw;
  overflow: hidden;
  background-image: url("https://www.ushuaiaibiza.com/uploads/events/headers/main.jpg");
  background-position: bottom;
  background-size: cover; }
  .div-top-image .top-title {
    position: absolute;
    top: 8w;
    left: 0;
    width: 100%;
    color: white;
    font-size: 10vw;
    text-align: center;
    text-shadow: 2px 2px black; }

td {
  background-color: #402b3c;
  color: black;
  height: 150px;
  table-layout: fixed;
  width: 150px; }

body {
  background-color: aqua;
  margin: 0;
  font-family: Lato, Helvetica Neue, Helvetica, Arial, sans-serif; }

@media screen and (max-width: 70em) {
  .table2 {
    margin-top: 0 !important; } }
