@import "allStyle";

@font-face
{
    font-family: helvetica;
    src: url(helveticaneue.ttf);
}

@mixin parallax($bgImg, $bgHeight){
    background-image: url($bgImg);
    height: $bgHeight; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body{
    .parallax-item1{
        margin-top: -$selection_height;
        @include parallax("fest1.jpg", 30em);
        display: flex;
        flex-flow: column;
        justify-content: center;
        .intro-text{
            display: flex;
            flex-flow: column;
            justify-content: center;
            text-align: center;
            width: 25%;
            height: 5em;
            margin-left: calc(75% / 2);
            background-color: $contrast_one;
            img{
                width: 15vw;
                margin-left: calc((100% - 15vw) / 2);
            }
        }
    }
    .parallax-item2{
        @include parallax("fest2.jpg", 10em);
    }
    .parallax-item3{
        @include parallax("fest4.jpg", 10em);
    }
    .parallax-item4{
        @include parallax("fest3.jpg", 10em);
    }
    .text{
        background-color: $contrast_one;
        height: 12em;
        .content{
            height: 100%;
            width: 100%;
            display: flex;
            flex-flow: row;
            justify-content: space-between;
            .pwrapper{
                display: flex;
                flex-flow: column;
                justify-content: center;
                p{
                    padding: 1em;
                    margin: 0;
                    font-size: 3vw;
                }
            }
            img{
                height: 100%;
            }
        }
    }
}