@import "allStyle";

@font-face
{
    font-family: helvetica;
    src: url(helveticaneue.ttf);
}

@mixin parallax($bgImg, $bgHeight){
    background-image: url($bgImg);
    height: $bgHeight; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body{
    .parallax-item1{
        margin-top: -$selection_height;
        @include parallax("fest1.jpg", 30em);
        display: flex;
        flex-flow: column;
        justify-content: center;
        .intro-text{
            display: flex;
            flex-flow: column;
            justify-content: center;
            text-align: center;
            width: 25%;
            height: 5em;
            margin-left: calc(75% / 2);
            background-color: $contrast_one;
        }
    }
    .parallax-item2{
        @include parallax("fest2.jpg", 30em);
    }
    .parallax-item3{
        @include parallax("fest4.jpg", 30em);
    }
    .parallax-item4{
        @include parallax("fest3.jpg", 30em);
    }
    .temp{
        height: 30em;
        background-color: $contrast_one;
    }
}