body {
  margin: 0;
  color: black;
  font-family: helvetica;
  font-size: 1.5em;
  position: relative; }
  body #toggle {
    display: none; }
  body #menu {
    display: none;
    position: fixed;
    bottom: 0;
    background-color: #402b3c;
    width: 100%;
    text-align: center;
    z-index: 5;
    height: 3em;
    border-top: 0.3em #53384e solid; }
  body #menu:hover {
    cursor: pointer; }
  body .selectionBar {
    top: 0;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 2.5em;
    width: 100%;
    opacity: 0.5; }
    body .selectionBar div {
      -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      text-align: center;
      background-color: #402b3c;
      border-right: 0.3em #53384e solid;
      transition: all 0.3s ease; }
      body .selectionBar div a {
        color: white;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-flow: column;
        -ms-flex-flow: column;
        flex-flow: column;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        text-decoration: none;
        height: 1.35em;
        font-size: 1.5em; }
    body .selectionBar div:last-child {
      border: none; }
    body .selectionBar div:hover {
      background-color: #53384e; }
    body .selectionBar div:hover a {
      color: #402b3c; }
  body .botn {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row;
    -ms-flex-flow: row;
    flex-flow: row;
    background-color: #402b3c;
    border-top: 0.3em #53384e solid; }
    body .botn .footer-mainInfo {
      font-size: 1.5vw;
      width: 70%;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-flow: row;
      -ms-flex-flow: row;
      flex-flow: row;
      -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
      justify-content: space-around; }
    body .botn .sponsors {
      width: 30%;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-flow: row;
      -ms-flex-flow: row;
      flex-flow: row;
      -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
      justify-content: space-around; }
      body .botn .sponsors img {
        -webkit-flex-basis: 1;
        -ms-flex-preferred-size: 1;
        flex-basis: 1;
        width: 15%;
        height: 100%; }

@media screen and (max-width: 70em) {
  #menu {
    display: inline !important; }
  .selectionBar {
    transition: all 0.3s ease;
    position: fixed;
    z-index: 4;
    -webkit-flex-flow: column;
    -ms-flex-flow: column;
    flex-flow: column;
    top: auto !important;
    opacity: 1 !important;
    bottom: -20em; }
    .selectionBar div {
      border-bottom: none !important;
      border-top: 0.3em #53384e solid !important;
      border-right: 0.3em #53384e solid !important;
      border-left: 0.3em #53384e solid !important; }
  .botn {
    margin-bottom: 3em; }
  #toggle:checked + .selectionBar {
    bottom: 12.2em !important; } }

body {
  background-color: aqua;
  margin: 0;
  width: 100%;
  font-family: Lato, Helvetica Neue, Helvetica, Arial, sans-serif; }
  body p {
    font-size: 1.5vw; }
  body h3 {
    font-size: 4vw; }
  body .div-top-image {
    width: 100%;
    height: 35vw;
    overflow: hidden;
    background-image: url("https://www.ushuaiaibiza.com/uploads/events/headers/main.jpg");
    background-position: bottom;
    background-size: cover; }
    body .div-top-image .top-title {
      position: absolute;
      top: 8w;
      left: 0;
      width: 100%;
      color: white;
      font-size: 10vw;
      text-align: center;
      text-shadow: 2px 2px black; }
  body .box1 {
    width: 100%;
    height: 30vw;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 100px;
    background: rgba(64, 43, 60, 0.87);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); }
    body .box1 .p-div-left {
      height: 100%;
      padding-left: 20px;
      color: #cdcdcd; }
    body .box1 .right-img {
      height: 100%; }
  body .box2 {
    width: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 30vw;
    margin-top: 100px;
    background: rgba(64, 43, 60, 0.87);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); }
    body .box2 .p-div-right {
      height: 100%;
      padding-left: 20px;
      -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
      flex-grow: 1; }
      body .box2 .p-div-right .box2-h3 {
        color: #efefef; }
      body .box2 .p-div-right .right-p {
        color: white; }
    body .box2 .left-img {
      height: 100%; }

@media screen and (max-width: 70em) {
  .box1, .box2 {
    margin-top: 0 !important;
    height: 35vw !important; } }

::-moz-selection {
  background: #ffb7b7; }

::selection {
  background: #ffb7b7; }
