@import "allStyle";

body {
    background-color: aqua;
    margin: 0;
    width: 100%;
	font-family: Lato, Helvetica Neue, Helvetica, Arial, sans-serif;
    p {
        font-size: 1.5vw;
    }
    h3{
        font-size: 4vw;
    }
    .div-top-image {
	   width: 100%;
	   height: 35vw;
	   overflow: hidden;
        background-image: url("https://www.ushuaiaibiza.com/uploads/events/headers/main.jpg");
        background-position: bottom;
        background-size: cover;
        .top-title {
	        position: absolute;
	        top: 8w;
	        left: 0;
	        width: 100%;
	        color: white;
	        font-size: 10vw;
            text-align: center;
            text-shadow: 2px 2px black;
        }
    }
    .box1 {
        width: 100%;
        height: 30vw;
        display: flex;
        margin-top: 100px;
        background: rgba(64, 43, 60, 0.87);
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        .p-div-left {
            height: 100%;
            padding-left: 20px;
            color: #cdcdcd;
        }
        .right-img {
            height: 100%;
        }
    }
    .box2 {
        width: 100%;
        display: flex;
        height: 30vw;
        margin-top: 100px;
        background: rgba(64, 43, 60, 0.87);
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        .p-div-right {
	        height: 100%;
	        padding-left: 20px;
            flex-grow: 1;
            .box2-h3 {
                color: #efefef;
            }
            .right-p {
                color: white;
            }
        }
        .left-img {
            height: 100%;
        }
    }
}
@media screen and (max-width: 70em){
    .box1, .box2{
        margin-top: 0 !important;
        height: 35vw !important;
    }
}

::-moz-selection {
	background: #ffb7b7;
}
::selection {
	background: #ffb7b7;
}