body {
  margin: 0;
  color: black;
  font-family: helvetica;
  font-size: 1.5em; }
  body .selectionBar {
    top: 0;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 2.5em;
    position: absolute;
    width: 100%;
    opacity: 0.5; }
    body .selectionBar div {
      -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      text-align: center;
      background-color: #402b3c;
      border-right: 0.3em #53384e solid;
      transition: all 0.3s ease; }
      body .selectionBar div a {
        color: white;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-flow: column;
        -ms-flex-flow: column;
        flex-flow: column;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        text-decoration: none;
        height: 1.35em;
        font-size: 1.5em; }
    body .selectionBar div:last-child {
      border: none; }
    body .selectionBar div:hover {
      background-color: #53384e; }
    body .selectionBar div:hover a {
      color: #402b3c; }

body {
  background-color: #f7f7f7; }

.box1 {
  width: 80%;
  height: 500px;
  margin-left: calc((100% - 80%)/2);
  border: 1px solid #f7f7f7;
  margin-top: 100px; }

.box2 {
  width: 80%;
  height: 500px;
  margin-left: calc((100% - 80%)/2);
  border: 1px solid #f7f7f7;
  margin-top: 100px; }

.right-img {
  width: 500px;
  float: right;
  padding: 20px;
  margin-top: -250px; }

.p-left {
  color: #53535c;
  width: 400px;
  font-size: 1rem;
  margin-top: 180px;
  margin-left: 30px; }

.p-right {
  color: #53535c;
  width: 400px;
  font-size: 1rem;
  margin-top: 180px;
  margin-right: 30px;
  float: right; }

.left-img {
  width: 500px;
  float: right;
  padding: 20px;
  float: left;
  margin-top: 50px; }
