.selectionBar {
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 33px;
  background: rgba(0, 0, 0, 0.5);
  position: fixed; }

a {
  padding: 10px;
  margin-top: 20px;
  text-decoration: none;
  color: white; }

body {
  background-color: #f1f1f1;
  max-width: 60em;
  margin: 0 auto;
  margin-top: 80px;
  font-family: helvetica, sans-serif, arial; }

.box1 {
  width: 90%;
  margin: auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 350px;
  margin-top: 100px;
  background: #402b3c;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); }

.box2 {
  width: 90%;
  margin: auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 350px;
  margin-top: 100px;
  background: #402b3c;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); }

.right-p {
  /* margin: 30px; */
  color: white;
  margin-left: -60px;
  width: 255px; }

.box2-h3 {
  /* color: white; */
  color: #efefef;
  font-size: 42px; }

p {
  font-size: 15px; }

/*-----box1-----*/
.p-div-left {
  width: 100%;
  min-width: 250px;
  height: 100%;
  padding-left: 20px;
  color: #cdcdcd; }
  .p-div-left h3 {
    font-size: 42px;
    text-align: center;
    color: #efefef; }

.right-img {
  height: 100%;
  min-width: 35%;
  margin-left: 80px; }

/*-----box1-----*/
.p-div-right {
  width: 100px;
  min-width: 250px;
  height: 100%;
  padding-left: 20px;
  /* margin-left: 60px; */
  /* margin-right: 90px; */
  /* background-color: pink; */ }

.left-img {
  /* width: 90%; */
  /* margin-left: calc((100% - 90%)/2); */
  min-width: 35%;
  /* margin-top: 20px; */
  height: 100%; }

::-moz-selection {
  background: #ffb7b7; }

::selection {
  background: #ffb7b7; }

@media screen and (max-width: 55em) {
  body {
    background-color: pink; } }

/* margin fyrir nav uppi er: $selection-height*/
