body {
  margin: 0;
  color: black;
  font-family: helvetica;
  font-size: 1.5em; }
  body .selectionBar {
    top: 0;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 2.5em;
    position: absolute;
    width: 100%;
    opacity: 0.5; }
    body .selectionBar div {
      -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      text-align: center;
      background-color: #402b3c;
      border-right: 0.3em #53384e solid;
      transition: all 0.3s ease; }
      body .selectionBar div a {
        color: white;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-flow: column;
        -ms-flex-flow: column;
        flex-flow: column;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        text-decoration: none;
        height: 1.35em;
        font-size: 1.5em; }
    body .selectionBar div:last-child {
      border: none; }
    body .selectionBar div:hover {
      background-color: #53384e; }
    body .selectionBar div:hover a {
      color: #402b3c; }
  body .botn .footer-mainInfo {
    width: 60%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row;
    -ms-flex-flow: row;
    flex-flow: row;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around; }

body {
  background-color: #402b3c; }
  body .posts {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: column;
    -ms-flex-flow: column;
    flex-flow: column;
    width: 100%; }
    body .posts .post {
      margin-bottom: 0.5em;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-flow: column;
      -ms-flex-flow: column;
      flex-flow: column;
      width: 100%; }
      body .posts .post .post-content {
        padding: 1em;
        background-color: #53384e; }
        body .posts .post .post-content .post-title {
          font-size: 1.2em;
          background-color: #402b3c; }
        body .posts .post .post-content .post-efni {
          background-color: #402b3c; }
        body .posts .post .post-content .post-nafn {
          background-color: #402b3c;
          font-size: 0.8em; }
      body .posts .post .comment {
        padding: 1em;
        background-color: #53384e;
        margin-top: 0.5em;
        width: 65%; }
        body .posts .post .comment .com-efni {
          background-color: #402b3c; }
        body .posts .post .comment .com-nafn {
          background-color: #402b3c; }

body::-webkit-scrollbar {
  width: 1em; }

body::-webkit-scrollbar-thumb {
  background-color: #2d1e2a; }
