body {
  margin: 0;
  color: black;
  font-family: helvetica;
  font-size: 1.5em;
  position: relative; }
  body #toggle {
    display: none; }
  body #menu {
    display: none;
    position: fixed;
    bottom: 0;
    background-color: #402b3c;
    width: 100%;
    text-align: center;
    z-index: 5;
    height: 3em;
    border-top: 0.3em #53384e solid; }
  body #menu:hover {
    cursor: pointer; }
  body .selectionBar {
    top: 0;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 2.5em;
    width: 100%;
    opacity: 0.5; }
    body .selectionBar div {
      -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      text-align: center;
      background-color: #402b3c;
      border-right: 0.3em #53384e solid;
      transition: all 0.3s ease; }
      body .selectionBar div a {
        color: white;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-flow: column;
        -ms-flex-flow: column;
        flex-flow: column;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        text-decoration: none;
        height: 1.35em;
        font-size: 1.5em; }
    body .selectionBar div:last-child {
      border: none; }
    body .selectionBar div:hover {
      background-color: #53384e; }
    body .selectionBar div:hover a {
      color: #402b3c; }
  body .botn {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row;
    -ms-flex-flow: row;
    flex-flow: row;
    background-color: #402b3c;
    border-top: 0.3em #53384e solid; }
    body .botn .footer-mainInfo {
      font-size: 1.5vw;
      width: 70%;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-flow: row;
      -ms-flex-flow: row;
      flex-flow: row;
      -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
      justify-content: space-around; }
    body .botn .sponsors {
      width: 30%;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-flow: row;
      -ms-flex-flow: row;
      flex-flow: row;
      -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
      justify-content: space-around; }
      body .botn .sponsors img {
        -webkit-flex-basis: 1;
        -ms-flex-preferred-size: 1;
        flex-basis: 1;
        width: 15%;
        height: 100%; }

@media screen and (max-width: 70em) {
  #menu {
    display: inline !important; }
  .selectionBar {
    transition: all 0.3s ease;
    position: fixed;
    z-index: 4;
    -webkit-flex-flow: column;
    -ms-flex-flow: column;
    flex-flow: column;
    top: auto !important;
    opacity: 1 !important;
    bottom: -20em; }
    .selectionBar div {
      border-bottom: none !important;
      border-top: 0.3em #53384e solid !important;
      border-right: 0.3em #53384e solid !important;
      border-left: 0.3em #53384e solid !important; }
  .botn {
    margin-bottom: 3em; }
  #toggle:checked + .selectionBar {
    bottom: 12.2em !important; } }

::-moz-selection {
  background: #ffb7b7; }

::selection {
  background: #ffb7b7; }

body {
  background-color: #402b3c; }
  body .spjallContainer {
    width: 100%;
    height: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin-top: 2em; }
    body .spjallContainer .postList {
      width: 60%;
      height: 32em;
      border: 0.5em #2d1e2a solid;
      padding: 0; }
      body .spjallContainer .postList iframe {
        width: 100%;
        height: 100%;
        border: none; }
    body .spjallContainer .innslattur {
      width: 30%;
      height: 100%;
      border: 0.5em #2d1e2a solid; }
      body .spjallContainer .innslattur form textarea {
        width: 90%;
        height: 10em; }
      body .spjallContainer .innslattur form input {
        width: 90%; }
      body .spjallContainer .innslattur form input:last-child {
        width: auto; }

@media screen and (max-width: 70em) {
  .spjallContainer {
    -webkit-flex-flow: column;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-justify-content: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important; }
    .spjallContainer .postList {
      width: 100% !important; }
    .spjallContainer .innslattur {
      width: 100% !important; } }
